modules = ["web", "python-3.12", "nodejs-20"]
run = "npm run build && pip install -r requirements.txt"

[nix]
channel = "stable-24_05"

[deployment]
run = "npm start"
build = "npm install && cd UI && npm install && npm run build && cd .. && pip install -r requirements.txt"
